<!-- <div>
    <ngx-datatable [rows]="rows" [columns]="columns"> </ngx-datatable>
  </div> -->
  <div>
  <ngx-datatable
  #myTable
  id="datatable"
  class="material expandable"
  [columns]="columns"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="50"
  [rows]="rows"
  [limit]="10"
  (page)="onPage($event)"
  [scrollbarV]="true"
>
  <!-- Row Detail Template -->
  <ngx-datatable-row-detail  [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <div style="padding-left:35px;">
        <div><strong>Address</strong></div>
        <div >{{ row.expand.city }}, {{ row.expand.state }}</div>
      </div>
    </ng-template>
  </ngx-datatable-row-detail>
  <!-- Column Templates -->
  <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="true"
    [canAutoResize]="false"
  >
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a
        *ngIf="row.expand"
        href="javascript:void(0)"
        [class.datatable-icon-right]="!expanded"
        [class.datatable-icon-down]="expanded"
        title="Expand/Collapse Row"
        (click)="toggleExpandRow(row)"
      >
      </a>
    </ng-template>
  </ngx-datatable-column>
<!-- 
    <ngx-datatable-column name="Index" [width]="200">
      <ng-template  let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <strong>{{ rowIndex }}</strong>
      </ng-template>
    </ngx-datatable-column> -->

    

  <ng-container *ngFor="let column of columns; let i = index">
    <ngx-datatable-column [name]="column.name" [width]="300">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
  </ng-container>

  <ngx-datatable-column name="Actions" [width]="200">
    <ng-template   let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <i (click)="actions()" class="fas fa-bars"></i>
      <div style="border:1px solid red;z-index:1 !important;background:black;">
        <ul>
          <li>
            action 1
          </li>
          <li>
            action 2
          </li>
        </ul>
      </div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

</div>