::ng-deep ngx-datatable {
    height:730px !important;
    datatable-body-cell {
        // border:1px solid red !important;
        z-index: 999 !important;
        overflow: visible !important;
    }
    .datatable-icon-skip,.datatable-icon-prev{
        display:none;
    }
    .pages{
        pointer-events: none;
    }

    .ngx-datatable.scroll-vertical .datatable-body {
        overflow-y: auto;
        overflow-x: none;

        -webkit-appearance: none;
    }
    .datatable-header-cell, datatable-header{
        background:#BABABA !important;
    }
    
   ::-webkit-scrollbar {
        width: 9px;               /* width of the entire scrollbar */
      }
      
      ::-webkit-scrollbar-track {
        /* color of the tracking area */
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3;; 
      }
}

.active-page {
    color:red;
}
