<div id="container-datatable">
  <br>
  <div style=" width:100%;display:flex">
    
    <div style="width:30%">
      <i class="fas fa-filter" style="color:#17a2b8;cursor:pointer;position:relative;left:15px;top:15px"></i>
    </div>
    <div style="width:100%;text-align:right;">
      <app-input-generic [width]="'70%'" [id]="'input-generic-search'" style="display:inline-block;width:80%"  [inpuType]="'text'" (emitKey)="search($event)" [label]="'Buscar...'" [showLabel]="false"></app-input-generic>
      <app-button-generic [nameButton]="nameButtonNewData" [id]="'button-add-new-element'"    style="width:auto;margin-left:1rem;display:inline-block;position:relative;"></app-button-generic>
    </div>
  </div><br>
  <div style=" width:100%;text-align:right;">
    <app-button-generic [nameButton]="'PDF'" [icon]="'fas fa-file-pdf'" ></app-button-generic>
    <app-button-generic [nameButton]="'EXCEL'" [icon]="'fas fa-file-csv'" style="margin-left:1%"></app-button-generic>
  </div>
  <br>
  <!-- Numberpage = {{this._numberPage-1}}
  <ul>
    <li *ngFor="let sel of selected">
      {{ sel.nombre }}
    </li>
    <li *ngIf="!selected?.length">No Selections</li>
  </ul> -->
  <ngx-datatable #myTable 
      id="datatable" 
      class="material expandable" 
      [columns]="columns" 
      [columnMode]="'force'"
      [headerHeight]="50"
      [count]="totalCount"
      [offset]="this._numberPage-1"
      [footerHeight]="100"
      [rowHeight]="50" 
      [rows]="_rows"  
      [scrollbarV]="true "
      [externalPaging]="true"
      [externalSorting]="true"
      [selected]="selected"
      [selectionType]="selectionType"
      [selectAllRowsOnPage]="true"
      [loadingIndicator]="isLoading > 0"
      (page)="onPage($event)"
      (activate)="editByClicking($event)"
      (select)="onSelect($event)"

      >
      <!-- [displayCheck]="displayCheck" -->
      
      
    <!-- CheckBox Selected -->
    <ngx-datatable-column
    *ngIf="selectionType===SelectionType.checkbox"
    [width]="30"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [headerCheckboxable]="true"
    [checkboxable]="true"
    >
    </ngx-datatable-column>

    <!-- Expand -->

    <ngx-datatable-row-detail  [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div style="padding-left:35px; display:flex; margin-top:1%;" *ngFor="let expand of row.expand">
          <div><strong>{{ expand.name }}:</strong></div>
          <div style="padding-left:1%;"> {{ expand.value }}</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="true"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

        <a *ngIf="row.expand" href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
        </a>
      </ng-template>
    </ngx-datatable-column>

    <!-- 
    <ngx-datatable-column name="Index" [width]="200">
      <ng-template  let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <strong>{{ rowIndex }}</strong>
      </ng-template>
    </ngx-datatable-column> -->


    <ng-container *ngFor="let column of columns; let i = index">
      <ngx-datatable-column [name]="column.name" [width]="300">
        <ng-template let-column="column" ngx-datatable-header-template>
          <!-- {{column.name}} -->
          <!-- <input type="text" class="managetextfilter" placeholder="Buscar" (keyup)="searchColumn()" style="margin-left:1%"/> 
           -->
          <app-input-generic [width]="'70%'" [id]="'input-search-column'" style="display:inline-block"  [inpuType]="'text'" (emitKey)="search($event)" [label]="column.name" [showLabel]="false"></app-input-generic>
           
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
         {{ value }} 

        </ng-template>
      </ngx-datatable-column>
    </ng-container>

    <ngx-datatable-column name="Actions" [width]="200">
      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <i *ngFor="let action of actions" 
        (click)="actionEmit(action.type, $event)" 
        class="{{action.icon}}"
        style="margin-left:1%;cursor:pointer">
        </i>
      </ng-template>
    </ngx-datatable-column>



    
    <!-- Footer Informative -->
    
    <ngx-datatable-footer *ngIf="footer==='footer-2'">
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset"
      >
        <div style="padding: 5px 10px">
          <div><strong>Tabla</strong>: Clientes</div>
          <hr style="width:100%" />
          <div>Total: {{ rowCount }} | Registros por página: {{ pageSize }} |   Página: {{ curPage }}</div>
        </div>
      </ng-template>
    </ngx-datatable-footer>

  </ngx-datatable>


</div>