<div style="height:100%;width:100%;padding-top:1%; color:white;">
    <div style="display:flex; ">
        <div style="width:95%">
            Header
        </div>
        <div style="cursor:pointer" (click)="showUserDetails()">
            {{userName}}
        </div>
    </div>
</div>
<mat-sidenav-container *ngIf="showDetails" id="sidenav-user" class="sidenav-container" mode="side" >
    <app-user-details (cancelDetail)="showDetails = $event" [infoUser]="infoUser"></app-user-details>

</mat-sidenav-container>
