@import '../../../styles/_globalVariables';

#container-header{
    height:100%;
    width:100%;
    padding-top:1%; 
    color:$color-primary;
    border-top:1px solid $color-primary;
    border-bottom:1px solid $color-primary;

    #container-settings{
        background-color: $background-secondary;
    }
    #container-logo{
        width:50%;
    }

    #container-icons{
        width:50%;
        text-align:right;
    }
        
    .icon{
        padding:5px;
        font-size:20px;
    }
    .icon:hover{
        color:$color-secondary;
    }

    #container-options-settings{
        color:$color-dark;
        background-color: $background-secondary;
        position:absolute;
        right:10px;
        padding-top:5px;
        padding-left:0px;
        padding-right:20px;
        ul{
            list-style:none;
            font-size: 20px;
            li{
                margin-top:0.5rem;
            }
        }

    }
}

