<ng-container *ngIf="isLogged" >
  <div id="container-header" style=" height:5rem;background:black">
    <app-header ></app-header>
  </div>
  <div class="display-flex">
    <div id="container-sidenav" style="width:250px">
      <app-sidenav ></app-sidenav>
    </div>
    <div style="width:100%">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<ng-container  *ngFor="let message of messages$ | async">
  <div style="position:absolute;bottom:20px;right:20px;padding:10px;" 
  [ngStyle]="message.type==='ERROR' && {'background': 'red'} "
  [ngClass]="{'messageError': message.type ==='ERROR', 'messageSuccess':  message.type ==='SUCCESS', 'messageAlert': message.type ==='ALERT', 'messageInfo': message.type ==='INFO'}">
    {{message.value}}
  </div>
</ng-container>
