#input-generic-search{
    border: 1px solid #E5E5E5;
    padding:5px;
    padding-left:10px;
    outline:none !important;
    box-shadow:0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%)
}

#input-search-column{
    padding-left:5px;
    outline:none !important;

}