@import "./styles/_globalVariables";

/* colors */
.color-primary {
    color: $color-primary;
}
.color-secondary {
    color: $color-secondary;
}
/* backgrounds */
.bacgkround-primary {
    background: $background-primary;
}
.bacgkround-secondary {
    background: $background-secondary;
}
/* display */

.display-flex {
    display: flex;
}

/* Margins  */

.m-left-5 {
    margin-left: 5%;
}

.m-left-10 {
    margin-left: 20%;
}

.m-top-1 {
    margin-top: 1%;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $background-primary;
}

// Cursor pointer;

.cursor-pointer{
    cursor:pointer;
}

/* Sidebar */

mat-sidenav-container {
    border: 1px solid white;
    background-color: $background-primary !important;
    width: 40%;
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    height: 100vh !important;
    float: right;
    color: $color-primary !important;
    @media (min-width: 0px) and (max-width: 820px){
        width:100%;
    }
}

mat-sidenav-container mat-tab-header {
    color: $color-primary !important;
}

mat-sidenav-container .mat-tab-label-content {
    color: $color-primary !important;
}
mat-sidenav-container .mat-ink-bar {
    background: #17a2b8 !important;
}
