<div id="sidenav">
    <select>
        <option>Seleccionar dispositivo</option>
    </select>
    <div class="display-flex" style="padding:0px" *ngFor="let link of listSidenav">
        <ng-container *ngIf="isAdmin && link.roles.includes('admin') || !isAdmin && link.roles.includes('user') ">
            <a routerLink="{{link.link}}" (click)="link.link === '/close' && logout()" routerLinkActive="active">
                <div class="display-flex" style="margin-top:15%;">
                    <div style="width:20%">
                        <i class="{{link.icon}}"></i>
                    </div>
                    <div style="padding-left:10px">
                        {{link.name}}
                    </div>
                </div>
            </a>
        </ng-container>

    </div>
</div>