
@import '../../../styles/_globalVariables';


.container-links{
    padding:0px;
    display:flex;
}

.container-link{
    margin-top:15%;
    display:flex;
}
.container-icon{
    width:20%
}
.container-name{
    padding-left:10px
}