<div id="sidenav">
    <br>
    <select style="width:100%">
        <option>Seleccionar empresa</option>
    </select>
    <div class="container-links" *ngFor="let link of listSidenav">
        <ng-container *ngIf="isAdmin && link.roles.includes('admin') || !isAdmin && link.roles.includes('user') ">
            <a routerLink="{{link.link}}" (click)="link.link === '/close' && logout()" routerLinkActive="active">
                <div class="container-link">
                    <div class="container-icon">
                        <i class="{{link.icon}}"></i>
                    </div>
                    <div class="container-name">
                        {{link.name}}
                    </div>
                </div>
            </a>
        </ng-container>

    </div>
</div>